<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjxy.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.xjxy.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subTitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="originPrice" jdbcType="DECIMAL" property="originprice" />
    <result column="promotoPrice" jdbcType="DECIMAL" property="promotoprice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, subTitle, originPrice, promotoPrice, stock, category_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xjxy.model.Product">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_product (id, name, subTitle, 
      originPrice, promotoPrice, stock, 
      category_id, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{originprice,jdbcType=DECIMAL}, #{promotoprice,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjxy.model.Product">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="name != null">
        name,
      </if>
      <if test="subtitle != null">
        subTitle,
      </if>
      <if test="originprice != null">
        originPrice,
      </if>
      <if test="promotoprice != null">
        promotoPrice,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="originprice != null">
        #{originprice,jdbcType=DECIMAL},
      </if>
      <if test="promotoprice != null">
        #{promotoprice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjxy.model.Product">
    update sys_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subTitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="originprice != null">
        originPrice = #{originprice,jdbcType=DECIMAL},
      </if>
      <if test="promotoprice != null">
        promotoPrice = #{promotoprice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjxy.model.Product">
    update sys_product
    set name = #{name,jdbcType=VARCHAR},
      subTitle = #{subtitle,jdbcType=VARCHAR},
      originPrice = #{originprice,jdbcType=DECIMAL},
      promotoPrice = #{promotoprice,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" parameterType="java.lang.String" resultMap="BaseResultMap">
    <![CDATA[ ${value} ]]>
  </select>
  <select id="selectProduct" parameterType="java.lang.String" resultMap="BaseResultMap">
    <![CDATA[ ${value} ]]>
  </select>
</mapper>